/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}

.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

#mainLogo {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

#mainLogo img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}